node_modules
.env
.DS_Store
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalesOrderApi/.vs/SalesOrderApi
/SalesOrderApi/bin/Debug/net9.0
/SalesOrderApi/obj/Debug/net9.0/EndpointInfo
/SalesOrderApi/obj/Debug/net9.0/refint
/SalesOrderApi/obj/Debug/net9.0/ref
/SalesOrderApi/obj/Debug/net9.0/staticwebassets

typings/
packages/
[Rr]elease*/
_ReSharper*/
[Bb]uild[Ll]og.*

.vs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
